{% load static %}
<html>
    <head>
        <title>
            Вход в систему
        </title>

        <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'AdminLTE/bower_components/Ionicons/css/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'AdminLTE/dist/css/AdminLTE.min.css' %}">

    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <b>Авторизация</b>
            </div>
            <div class="login-box-body">
                <p class="login-box-msg">введите имя пользователя и пароль</p>
                <form method="POST" class="form-signin">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group has-feedback">
                            {{ field.label_tag }}
                            <br>
                            <input name="{{ field.html_name }}" class="form-control" placeholder="{{ field.label }}"  type="{{ field.field.widget.input_type }}" required/>
                        </div>
                    {% endfor %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
                </form>
            </div>
        </div>
        <script src="{% static 'AdminLTE/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </body>
</html>