<html>
<head>
    <title>Карты обслуживания</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="header">
                <h1><a href="/">Карты обслуживания</a></h1>
            </div>
        </header>
        {% if user.is_authenticated %}
            <p>Пользователь: {{ user.first_name }} {{ user.last_name }}</p>
            <p><a href="{% url 'logout' %}">Выйти</a></p>
            {% block content %}
            {% endblock content %}
        {% else %}
            <p>Вы не авторизованы.</p>
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
        {% block authorisation %}
        {% endblock authorisation %}
    </div>
</body>
</html>