{% extends 'base.html' %}

{% block content %}
<style>

        body {
          padding-top: 45px;
        }
    
</style>
<div class="col-sm-5 col-sm-offset-0 left_krai">
     
        <h1 class="page-header"><i class="fa fa-cubes"></i> Оборудование</h1>

        <a class="btn btn-md btn-primary btn_in_bottom" href="{% url 'new_equipment' %}" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить единицу</a>  
    
    {% for item in equipment %}
        <h2>{{ item.name }}</h2>
        <p>{{ item.model }}</p>
    {% endfor %}
</div>
{% endblock content %}