{% extends 'base.html' %}

{% block content %}

<style>
        body {
          padding-top: 45px;
        }    
    
        .left_krai {
            padding-left: 0px;
        }
        
        .interval {
            margin-bottom: -20px;
        }
    
        textarea {
        resize: none; /* Запрещаем изменять размер */
       } 
    
</style>

    <div class="col-sm-5 col-sm-offset-0 left_krai">
        <div class="panel panel-info">
            <div class="panel-heading panel-title">
                    <h1 class="panel-title">Создать КТП</h1>
            </div>
            <div class="panel-body">
                    <form method="POST">
                            {% csrf_token %}
                            <div class="form-group has-feedback">                                
                                <b>{{ form.ktp_name.label }}</b>
                                <br>
                                {{ form.ktp_name }}
                            </div>
                            <div class="form-group has-feedback">                                
                                    <label for="equipment_id">Тип оборудования</label>
                                    <select name="equipment_id" id="equipment_id" class="form-control selectpicker show-tick">
                                        <option value="" disabled selected>Выберите оборудование</option>
                                        {% for e in equipments %}
                                            <option value="{{ e.id }}">Тип: {{ e.group_name }} | Модель: {{ e.model }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                            <div class="form-group has-feedback" style="margin-top: 50px; margin-left: 10px;">                                
                                    <b>Группы:</b><br><br>    
                                    <table border=0>
                                    <tr>
                                    {% for gr in groups %}   
                                    <td style="vertical-align: top; width: 200px; border-right: 0px solid black; padding: 20px;">
                                    <i>{{ gr.name }}</i>
                                    <hr>
                                        {% for u in units %}
                                            {% if u.group == gr.name %}
                                                <input type="checkbox" name="units" value="{{u.id}}"> {{u.name}} <br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    </td>
                                    </tr>
                                    </table>
                            </div>
                            <input type="submit" class="btn btn-lg btn-success" value="Создать" />
                    </form>
            </div>
        </div>
    </div>

{% endblock %}