{% extends 'base.html' %}

{% block content %}
     
<h1 class="page-header"><i class="fa fa-cubes"></i> КТП</h1>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
            <table id="maintenance_table" class="table table-bordered table-hover " style=" font-size: 14px;" >
                    <thead>
                        <tr>
                            <th><center>#</center></th>
                            <th><center>Группа</center></th>
                            <th><center>Тип оборудования</center></th>
                            <th><center>Выполняемые работы</center></th>
                            <th><center>Время выполнения (мин.)</center></th> 
                            <th><center>Исполнитель работ</center></th>
                            <th><center>Периодичность выполнения (дн.)</center></th>
                            <th><center>Примечания</center></th>
                            <th><center>Инструмент, материалы</center></th>
                            <th><center>Изображение</center></th>
                            <!--<th><center>Действие</center></th>-->
                        </tr>
                    </thead>
                    <tbody>
                            {% for item in mList %}
                            {% if item.fact > item.periodicity %}
                                <tr style="background-color: darkorange;">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td style=" vertical-align: middle; "><small><center>{{ item.pk }}</center></small></td>
                                <td style=" vertical-align: middle; "><small><center>{{ item.e_name }}</center></small></td>
                                <td style=" vertical-align: middle; "><small><center>{{ item.u_name }}</center></small></td>
                                <td style=" vertical-align: middle; "><small><center>{{ item.description }}</center></small></td>
                                <td style=" vertical-align: middle; "><small><center>{{ item.time }}</center></small></td>
                                <td style=" vertical-align: middle; "><small><center>{{ item.executor }}</center></small></td>
                                <td style=" vertical-align: middle; "><small><center>{% if item.periodicity %}{{ item.periodicity }}{% endif %}</center></small></td>
                                <td style=" vertical-align: middle; "><small><center>{% if item.notes %} {{ item.notes }} {% endif %}</center></small></td>
                                <td style=" vertical-align: middle; "><small><center>{% if item.tools %} {{ item.tools }} {% endif %}</center></small></td>
                                <!--<td style=" vertical-align: middle; "><small><center>{{ item.fact }}</center></small></td>-->
                                <td style=" vertical-align: middle; "><small><center><img src="{{MEDIA_URL}}{{item.photo}}" style="width: 250px; height:250px;" alt=""></center></small></td>
                                <!--<td>
                                    <center>
                                        {% if item.fact > 0 %}
                                            <a class="btn btn-success" href="{% url 'to_perform' item.pk %}">
                                                <span aria-hidden="true"></span> Выполнить работы
                                            </a>
                                        {% else %}
                                            <button class="btn btn-success" disabled="disabled">Выполнить работы</button>
                                        {% endif %}
                                    </center>
                                </td>-->
                            </tr>
                            {% endfor %} 
                    </tbody>
            </table>
            <a href="{% url 'to_pdf' pk %}">Генерировать PDF</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}